<nz-collapse [nzBordered]="true">
  <nz-collapse-panel [nzHeader]="'common.text.search' | translate">
    <form nz-form [formGroup]="seachForm" nzLayout="inline">
      <!-- <nz-form-item>
          <nz-form-label nzFor="optionName">
            {{ 'page.option.optionName' | translate }}
          </nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="optionName" style="width: 200px;"
              [placeholder]="'page.option.optionName' | translate" />
            <nz-form-explain *ngIf="seachForm.get('optionName')?.dirty && seachForm.get('optionName')?.errors">
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item> -->
      <nz-form-item>
        <nz-form-label nzFor="optionMemo">
          {{ 'page.option.optionMemo' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="optionMemo">
          <input
            nz-input
            style="width: 200px"
            formControlName="optionMemo"
            trim="blur"
            [placeholder]="'common.placeholder.input' | translate: { label: 'page.option.optionMemo' | translate }"
          />
          <ng-template #optionMemo let-control></ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="invalidatedIn">{{ 'page.option.invalidatedIn' | translate }}</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button [nzType]="'primary'" (click)="init()" [disabled]="!seachForm.valid">
            <i nz-icon nzType="search"></i>
            {{ 'common.button.search' | translate }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-collapse-panel>
</nz-collapse>

<div style="padding-top: 16px" *ngIf="!isSmall; else elseButtonZoom">
  <nz-space>
    <div *nzSpaceItem>
      <nz-button-group>
        <button nz-button [nzType]="'primary'" (click)="foward()">
          <i nz-icon nzType="plus"></i>
          {{ 'common.button.add' | translate }}
        </button>
        <button nz-button [nzType]="'primary'" (click)="refresh()">
          <i nz-icon nzType="sync"></i>
          {{ 'common.button.refresh' | translate }}
        </button>
        <button nz-button [nzType]="'primary'" (click)="downloadCSV()">
          <i nz-icon nzType="download"></i>
          {{ 'common.button.download' | translate }}
        </button>
      </nz-button-group>
    </div>
    <div *nzSpaceItem>
      <nz-button-group>
        <button
          nz-button
          nzType="primary"
          nzDanger="true"
          [disabled]="selectDataOfValid.length === 0 || selectData.length !== selectDataOfValid.length"
          (click)="deleteAll()"
        >
          <i nz-icon nzType="rest"></i>
          {{ 'common.button.invalid' | translate }}
        </button>
        <button
          nz-button
          nzType="primary"
          nzDanger="true"
          [disabled]="selectData.length === 0"
          (click)="hardDeleteAll()"
        >
          <i nz-icon nzType="delete"></i>
          {{ 'common.button.delete' | translate }}
        </button>
        <button
          nz-button
          [disabled]="selectDataOfInvalid.length === 0 || selectData.length !== selectDataOfInvalid.length"
          (click)="recover()"
        >
          <i nz-icon nzType="redo"></i>
          {{ 'common.button.recover' | translate }}
        </button>
      </nz-button-group>
    </div>
  </nz-space>
</div>

<!-- 画面变小，折叠按钮 -->
<ng-template #elseButtonZoom>
  <div nz-row style="padding-top: 16px">
    <nz-button-group>
      <button nz-button nzType="primary" (click)="foward()">
        <i nz-icon nzType="plus"></i>
        {{ 'common.button.add' | translate }}
      </button>
      <button
        nz-button
        nz-dropdown
        nzType="primary"
        [nzDropdownMenu]="buttonZoom"
        [(nzVisible)]="isZoomFlg"
        nzPlacement="bottomLeft"
      >
        <i nz-icon nzType="ellipsis"></i>
      </button>
    </nz-button-group>
    <nz-dropdown-menu #buttonZoom="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item (click)="refresh()">
          <i nz-icon nzType="sync"></i>
          {{ 'common.button.refresh' | translate }}
        </li>
        <li nz-menu-item (click)="deleteAll()">
          <i nz-icon nzType="rest"></i>
          {{ 'common.button.invalid' | translate }}
        </li>
        <li nz-menu-item (click)="hardDeleteAll()">
          <i nz-icon nzType="delete"></i>
          {{ 'common.button.delete' | translate }}
        </li>
        <li nz-menu-item (click)="recover()">
          <i nz-icon nzType="redo"></i>
          {{ 'common.button.recover' | translate }}
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
</ng-template>

<div style="padding-top: 16px">
  <nz-table
    #basicTable
    [nzData]="listOfDataDisplay"
    nzBordered="true"
    nzSize="middle"
    [nzPageSize]="100"
    [nzScroll]="{ y: '300px' }"
    [nzTotal]="listOfDataDisplay.length"
    [nzShowTotal]="rangeTemplate"
  >
    <thead>
      <tr>
        <th
          nzWidth="40px"
          nzLeft="0"
          nzShowCheckbox
          [(nzChecked)]="selectAll"
          (nzCheckedChange)="checkAll($event)"
        ></th>
        <ng-container *ngFor="let col of cols">
          <th
            *ngIf="col.width"
            nz-resizable
            nzBounds="window"
            [nzWidth]="col.width"
            [nzMinWidth]="60"
            (nzResizeEnd)="onResize($event, col.title)"
          >
            {{ col.title | translate }}
            <nz-resize-handle nzDirection="right"></nz-resize-handle>
          </th>
          <th *ngIf="!col.width">
            {{ col.title | translate }}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="basicTable.data">
        <tr
          (click)="data.deleted_by ? null : showInfoModal(data.option_id)"
          [style.background]="data.deleted_by ? '#eeeeee' : ''"
        >
          <td
            nzLeft="0"
            nzShowCheckbox
            [(nzChecked)]="data.checked"
            (nzCheckedChange)="checked($event)"
            [style.background]="data.deleted_by ? '#eeeeee' : ''"
          ></td>
          <td>{{ data.option_id }}</td>
          <td>{{ data.option_name | translate }}</td>
          <td>{{ data.option_memo }}</td>
          <td>{{ data.created_at | dateFormat: 'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{ data.updated_at | dateFormat: 'yyyy-MM-dd HH:mm:ss' }}</td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ 'common.text.totalTmp' | translate: { total: total, now: range[0], size: range[1] } }}
  </ng-template>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="'page.option.detailInfo' | translate"
  (nzOnCancel)="handleCancel()"
  nzWidth="600px"
  (nzOnOk)="handleOk()"
>
  <ng-template nzModalContent>
    <nz-descriptions nzBordered [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }" nzSize="middle">
      <nz-descriptions-item [nzTitle]="'page.option.optionID' | translate">
        {{ selectItem.option_id }}
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'page.option.optionName' | translate">
        {{ selectItem.option_name | translate }}
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'page.option.optionMemo' | translate">
        {{ selectItem.option_memo }}
      </nz-descriptions-item>
    </nz-descriptions>
    <br />
    <div nz-row nzJustify="start" nzAlign="top">
      <div nz-col nzSpan="14">
        <h3>{{ 'page.option.optionSubList' | translate }}</h3>
      </div>
      <div nz-col nzSpan="10">
        <span class="pull-right">
          <label>{{ 'page.option.optionInvalid' | translate }} &nbsp;&nbsp;</label>
          <nz-switch
            [(ngModel)]="showInvalid"
            (ngModelChange)="showInvalidChange($event)"
            [ngModelOptions]="{ standalone: true }"
          ></nz-switch>
        </span>
      </div>
    </div>
    <nz-table
      #selectTable
      [nzData]="displaySelectItemData"
      nzBordered="true"
      nzShowPagination="false"
      nzSize="middle"
      [nzPageSize]="5000"
      [nzScroll]="{ y: '200px' }"
    >
      <thead>
        <tr>
          <ng-container *ngFor="let col of detailCols">
            <th
              *ngIf="col.width"
              nz-resizable
              nzBounds="window"
              [nzWidth]="col.width"
              [nzMinWidth]="60"
              (nzResizeEnd)="onResizeDetail($event, col.title)"
            >
              {{ col.title | translate }}
              <nz-resize-handle nzDirection="right"></nz-resize-handle>
            </th>
            <th *ngIf="!col.width">
              {{ col.title | translate }}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of selectTable.data" [style.background]="item.deleted_by ? '#eeeeee' : ''">
          <td>{{ item.option_label | translate }}</td>
          <td>{{ item.option_value }}</td>
          <td>
            <button
              nz-button
              nzType="link"
              nzSize="small"
              [disabled]="item.deleted_by || checkCanDelete()"
              (click)="invalidValue(item.option_id, item.option_value)"
            >
              {{ 'common.button.invalid' | translate }}
            </button>
            <button
              nz-button
              nzType="link"
              nzSize="small"
              [disabled]="!item.deleted_by"
              (click)="recoverOption(item.option_id, item.option_value)"
            >
              {{ 'common.button.recover' | translate }}
            </button>
            <button
              nz-button
              nzType="link"
              nzSize="small"
              [disabled]="checkCanDelete()"
              (click)="deleteValue(item.option_id, item.option_value)"
            >
              {{ 'common.button.delete' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-template>
</nz-modal>
