<form nz-form [formGroup]="seachForm" nzLayout="inline">
  <nz-form-item>
    <nz-form-label>{{ 'page.language.languageType' | translate }}</nz-form-label>
    <nz-form-control>
      <nz-radio-group (ngModelChange)="search()" formControlName="redioName">
        <label nz-radio nzValue="wf">{{ 'page.language.labelWorkflow' | translate }}</label>
        <label nz-radio nzValue="menu">{{ 'page.language.labelWorkflowMenu' | translate }}</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
</form>
<button
  nz-button
  nzType="primary"
  (click)="SaveEdit()"
  style="margin-top: 16px"
  nzSize="small"
  [disabled]="isUnChanged"
>
  <i nz-icon nzType="save" nzTheme="outline"></i>
  {{ 'common.button.save' | translate }}
</button>
<div style="padding-top: 8px">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="16">
      <nz-card>
        <nz-table
          #editRowTable
          [nzData]="mainLangData"
          nzBordered="true"
          nzSize="middle"
          [nzPageSize]="100"
          [nzScroll]="{ y: '300px' }"
          [nzTotal]="mainLangData.length"
          [nzShowTotal]="rangeTemplate"
        >
          <thead>
            <tr>
              <ng-container>
                <th>{{ 'page.language.mainLang' | translate }}</th>
                <th>
                  <nz-select
                    [ngModel]="currentLang"
                    (ngModelChange)="changeLang($event)"
                    nzAllowClear
                    [nzPlaceHolder]="'page.language.selectLang' | translate"
                  >
                    <nz-option
                      *ngFor="let lang of langCols"
                      [nzDisabled]="lang.key == this.langCd"
                      [nzValue]="lang.key"
                      [nzLabel]="lang.title | translate"
                    ></nz-option>
                  </nz-select>
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Data of editRowTable.data">
              <td>
                <ng-container>
                  <th>{{ Data.itemName }}</th>
                </ng-container>
              </td>
              <td>
                <input
                  type="text"
                  nz-input
                  trim="blur"
                  [(ngModel)]="editCache[Data.itemId].data.itemName"
                  (ngModelChange)="inputValueChange()"
                  [disabled]="currentLang === ''"
                />
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </div>
  </div>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ 'common.text.totalTmp' | translate: { total: total, now: range[0], size: range[1] } }}
  </ng-template>
</div>
