<nz-page-header class="site-page-header">
  <!--title-->
  <nz-page-header-title>{{ 'page.generage.datastoreCreateTitle' | translate }}</nz-page-header-title>
  <!--extra-->
  <nz-page-header-extra>
    <button nz-button (click)="clear()">{{ 'common.button.cancel' | translate }}</button>
    <button nz-button nzType="primary" (click)="pre()">{{ 'common.button.previous' | translate }}</button>
    <button nz-button nzType="primary" (click)="next()">{{ 'common.button.next' | translate }}</button>
  </nz-page-header-extra>

  <!--content-->
  <nz-page-header-content>
    <div nz-row>
      <div class="content">
        <p nz-paragraph>
          {{ 'page.generage.datastoreCreateSubTitle' | translate }}
        </p>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>

<h4>{{ ds }}</h4>

<nz-list [nzDataSource]="fieldList" [nzRenderItem]="item" nzSize="small" [nzHeader]="header" nzBordered>
  <ng-template #header>
    <h4>{{ 'page.generage.datastoreCreateAddTips' | translate }}（{{ fieldList.length }}）：</h4>
  </ng-template>

  <ng-template #item let-item>
    <nz-list-item>
      <nz-list-item-meta [nzTitle]="itemTitle" [nzAvatar]="itemAvatar">
        <ng-template #itemTitle>
          {{ item.field_name }}
        </ng-template>
        <ng-template #itemAvatar>
          <nz-avatar [nzText]="item.field_type" nzShape="square"></nz-avatar>
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </ng-template>
</nz-list>
